{% extends "layout.html" %}

{% block title %}
    Student Login
{% endblock %}

{% block main %}
<div class="container">
    <div class="left">
        <img src="/static/login.png" alt="Illustration">
    </div>
        <div class="right">
            <h2>Student Login</h2>
            <p>Hey, enter your details to log in to your account</p>

            <form  method = "post" action="/login">
                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Enter your username/email" name="username" autofocus>
                </div>
                <div class="input-group">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Enter your password" name="password">
                </div>
                <a href="/recover">Having trouble signing in?</a>
                <button type="submit">Login In</button>
            </form>
            <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
    </div>

{% endblock %}