{% extends "layout.html" %}

{% block title %}
    Notes
{% endblock %}

{% block main %}

    {% for note in notes %}
        <h2>{{ note[0] }}</h2>

        <table>
            <thead>
                <tr>
                    <th>1º</th>
                    <th>2º</th>
                    <th>3º</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ note[1] }}</td>
                    <td>{{ note[2] }}</td>
                    <td>{{ note[3] }}</td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
    
{% endblock %}
