{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<div class="container">
    <div class="right" style="flex: 1; width: 100%;">
        <h2>Student Register</h2>
        <p>Fill in the fields to create your account</p>

        <form method="post" action="/register">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Full name" name="fullname" required>
            </div>
            <div class="input-group">
                <i class="fa fa-envelope"></i>
                <input type="email" placeholder="Email address" name="email" required>
            </div>
            <div class="input-group">
                <i class="fa fa-user-circle"></i>
                <input type="text" placeholder="Username" name="username" required>
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" name="password" required>
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Confirm password" name="confirm_password" required>
            </div>
            
            <button type="submit">Create Account</button>
        </form>

        <div class="social-login">
            <button class="google">Google</button>
            <button class="facebook">Facebook</button>
        </div>

        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</div>
{% endblock %}