{% extends "layout.html" %}


{% block title %}
    Reports
{% endblock %}

{% block main %}
    <form method="post" action="/reports">
        <div>
            <button type="submit" name="bulletin" value="bulletin">Boletim</button>
        </div>
        <div>
            <button type="submit" name="registration" value="registration">Comprovação de matrícula</button>
        </div>
        <div>
            <button type="submit" name="card" value="card">Ficha cadastral</button>
        </div>
    </form>

{% endblock %}