<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/studantnavbar.css">
    <link rel="stylesheet" href="/static/studantmain.css">
    <link rel="stylesheet" href="/static/studantfooter.css">
    
</head>
<body>

    <div class="navbar">
        <div class="logo">LUMINA</div>
        <div class="nav-links">
            <a href="/grid">Grid</a>
            <a href="/reports">Reports</a>
            <a href="#">Status</a>

        </div>

    </div>

    <div class="main">
        <h1>Welcome</h1>
          Where passion meets purpose — explore ideas, build knowledge, and shape the future.</p>
      </div>
    
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-left">
            <h3>SeuProjeto<span>.</span></h3>
            <p>&copy; 2025 Todos os direitos reservados.</p>
          </div>
          <div class="footer-center">
            <a href="#">Sobre</a>
            <a href="#">Serviços</a>
            <a href="#">Contato</a>
            <a href="#">Privacidade</a>
          </div>
          <div class="footer-right">
            <p>Siga-nos:</p>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
          </div>
        </div>
      </footer>

</body>
</html>
